{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <link rel="stylesheet" href="{% static 'clientesource/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'clientesource/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'clientesource/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'clientesource/css/vehiculo.css' %}">
    <link rel="shortcut icon" href="{% static 'clientesource/img/logo-msn.svg' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <header>

        <div class="logo">
            <a class="link" href="{% url 'cliente:inicio'%}">
                <img src="{% static 'clientesource/img/logo-msn.svg' %}" alt="imagen logo">
                <h1>Motors Safety Net</h1>
            </a>

        </div>

        <nav class="barraNav">
            <ul>
                <li>
                    <a class="count" href="{% url 'cliente:cuenta'%}">
                        <img src="{% static 'clientesource/img/cuentaLog.svg' %}" title="Cuenta" alt="Cuenta">
                        <h3 text="">
                            {{user.nombre_usuario|capfirst}}
                        </h3>
                    </a>
                </li>

                <li>
                    <a class="count" href="{% url 'inicio:logout'%}">
                        <img src="{% static 'clientesource/img/salir.svg' %}" alt="Salir de la Cuenta" title="Salir">
                    </a>
                </li>
            </ul>


        </nav>
    </header>

    <main class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class=" contenido">
                    <div class="icono-nom">
                        <img src="{% static 'clientesource/img/cuentaLog.svg' %}" alt="imagen cuenta">
                        <h4 text="">
                            {{user.nombres|capfirst}} {{user.apellidos|capfirst}}
                        </h4>
                    </div>
                    <div class="informacion-vehi table-responsive">
                        <table>
                            <tr>
                                <th>Nombre:</th>
                                <td>
                                    <h5 text="">{{user.nombres|capfirst}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <th>Apellidos:</th>
                                <td>
                                    <h5 text="">{{user.apellidos|capfirst}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <th>Telefono:</th>
                                <td>
                                    <h5 text="">{{user.telefono}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <th>Correo:</th>
                                <td>
                                    <h5 text="">{{user.correo_electronico}}</h5>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <a href="#" id="btnInactivarCuenta" class="borrar">
                                        <img src="{% static 'clientesource/img/delete.svg' %}" alt="Inactivar Cuenta" title="Inactivar cuenta">
                                    </a>
                                
                                    <form id="formInactivarCuenta" action="{% url 'cliente:desactivar_cuenta' %}" method="POST" style="display: none;">
                                        {% csrf_token %}
                                    </form>
                                </td>
                                <td>
                                    <a href="{% url 'cliente:editar_cuenta'%}" class="editar">
                                        <img
                                            src="{% static 'clientesource/img/edit.svg' %}" alt="Editar Cuenta">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-3  columna">
                <div class="menu">
                    <ul>
                        <li>
                            <a class="opcion" href="{% url 'cliente:inicio'%}">Inicio</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:notificaciones'%}">Notificaciones</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:mantenimiento'%}">Mantenimientos</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:procedimientos'%}">Modificaciones</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:soat'%}">SOAT</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:cuenta'%}">Cuenta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById("btnInactivarCuenta").addEventListener("click", function (event) {
            event.preventDefault();  // Evita que el enlace haga una acción por defecto
    
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Tu cuenta será eliminada y no podrás acceder nuevamente.",
                icon: "warning",
                showCancelButton: true,
                iconColor: "#369685",
                confirmButtonColor: "#d33",
                cancelButtonColor: "#369685",
                confirmButtonText: "Sí, inactivar cuenta",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("formInactivarCuenta").submit();  // Envía el formulario
                }
            });
        });
    </script>

    
</body>
</html>