{%load static%}

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Cliente</title>
    <link rel="stylesheet" href="{% static 'clientesource/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'clientesource/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'clientesource/img/logo-msn.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'clientesource/css/dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>


    <header>

        <div class="logo">
            <a class="link" href="">
                <img src="{% static 'clientesource/img/logo-msn.svg' %}" alt="imagen logo">
                <h1>Motors Safety Net</h1>
            </a>

        </div>

        <nav class="barraNav">
            <ul>
                <li>
                    <a class="count" href="{% url 'cliente:cuenta'%}">
                        <img src="{% static 'clientesource/img/cuentaLog.svg' %}" title="Cuenta" alt="Cuenta">
                        <h3 text="">
                            {{user.nombre_usuario|capfirst}}
                        </h3>
                    </a>
                </li>

                <li>
                    <a class="count" href="{% url 'inicio:logout'%}">
                        <img src="{% static 'clientesource/img/salir.svg' %}" alt="Salir de la Cuenta" title="Salir">
                    </a>
                </li>
            </ul>


        </nav>
    </header>


    <main class="container-fluid">

        <div class="row">
            <div class="col-9">
                <a href="{% url 'cliente:registrovehiculo'%}" class="card">
                    <div class="imagen-vehiculo icono-mas">

                        <img src="{% static 'clientesource/img/add.svg' %}" alt="Añadir vehículo">
                    </div>
                    <div class="descrip">
                        <h4>Agregar Vehículo</h4>
                    </div>
                </a>





                {% for vehiculo in vehiculos %}
                <a href="{% url 'cliente:vehiculo' vehiculo.id_vehiculo %}"
                    class="card">
                    <div class="imagen-vehiculo icono-mas">
                        {% if vehiculo.tipo == "Automovil" or vehiculo.tipo == "Camioneta" %}
                        <img src="{% static 'clientesource/img/carro.svg' %}" alt="Vehículo">
                        {% else%}
                        <img src="{% static 'clientesource/img/moto.svg' %}" alt="Vehículo">
                        {% endif %}
                    </div>
                    <div class="descrip">
                        <h4 text="">{{vehiculo.marca|capfirst}}</h4>
                    </div>
                </a>
                {% endfor %}



            </div>
            <div class="col-3  columna">
                <div class="menu">

                    <ul>
                        <li>
                            <a class="opcion" href="{% url 'cliente:notificaciones'%}">Notificaciones</a>
                        </li>
                        <li>
                            <a class="opcion" href="#">Mantenimientos</a>
                        </li>
                        <li>
                            <a class="opcion" href="#">Modificaciones</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:soat'%}">SOAT</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:cuenta'%}">Cuenta</a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>

    </main>


    

    
</body>

</html>