{load static}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Cliente</title>
    <link rel="stylesheet" href="{/css/style.css}">
    <link rel="stylesheet" href="{/css/stylesCliente/bootstrap.min.css}">
    <link rel="shortcut icon" href="{/img/logo-msn.svg}" type="image/x-icon">
    <link rel="stylesheet" href="{/css/stylesCliente/dashboard.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>


    <header>

        <div class="logo">
            <a class="link" href="#">
                <img src="" alt="imagen logo">
                <h1>Motors Safety Net</h1>
            </a>

        </div>

        <nav class="barraNav">
            <ul>
                <li>
                    <a class="count" href="#">
                        <img src="" title="Cuenta" alt="Cuenta">
                        <h3 text="">

                        </h3>
                    </a>
                </li>

                <li>
                    <a class="count" href="">
                        <img src="" alt="Salir de la Cuenta" title="Salir">
                    </a>
                </li>
            </ul>


        </nav>
    </header>


    <main class="container-fluid">

        <div class="row">
            <div class="col-9">
                <a href="#" class="card">
                    <div class="imagen-vehiculo icono-mas">

                        <img src="" alt="Añadir vehículo">
                    </div>
                    <div class="descrip">
                        <h4>Agregar Vehículo</h4>
                    </div>
                </a>






                <a href="#"
                    class="card">
                    <div class="imagen-vehiculo icono-mas">
                        <img src="" alt="Vehículo">
                    </div>
                    <div class="descrip">
                        <h4 text="">Ver vehículo</h4>
                    </div>
                </a>




            </div>
            <div class="col-3  columna">
                <div class="menu">

                    <ul>
                        <li>
                            <a class="opcion" href="#">Notificaciones</a>
                        </li>
                        <li>
                            <a class="opcion" href="#">Mantenimientos</a>
                        </li>
                        <li>
                            <a class="opcion" href="#">Modificaciones</a>
                        </li>
                        <li>
                            <a class="opcion" href="#">SOAT</a>
                        </li>
                        <li>
                            <a class="opcion" href="#">Cuenta</a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>

    </main>


    

    
</body>

</html>