{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimientos</title>
    <link rel="stylesheet" href="{% static 'clientesource/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'clientesource/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'clientesource/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'clientesource/css/notificaciones.css' %}">
    <link rel="stylesheet" href="{% static 'clientesource/css/Mantenimientos.css' %}">
    <link rel="shortcut icon" href="{% static 'clientesource/img/logo-msn.svg' %}" type="image/x-icon">
</head>
<body>

    <header>

        <div class="logo">
            <a class="link" href="{% url 'cliente:inicio'%}">
                <img src="{% static 'clientesource/img/logo-msn.svg' %}" alt="imagen logo">
                <h1>Motors Safety Net</h1>
            </a>

        </div>

        <nav class="barraNav">
            <ul>
                <li>
                    <a class="count" href="{% url 'cliente:cuenta'%}">
                        <img src="{% static 'clientesource/img/cuentaLog.svg' %}" title="Cuenta" alt="Cuenta">
                        <h3 text="">
                            {{user.nombre_usuario|capfirst}}
                        </h3>
                    </a>
                </li>

                <li>
                    <a class="count" href="{% url 'inicio:logout'%}">
                        <img src="{% static 'clientesource/img/salir.svg' %}" alt="Salir de la Cuenta" title="Salir">
                    </a>
                </li>
            </ul>


        </nav>
    </header>


    <main class="container-fluid">

        <div class="row">
            <div class="col-9 ">

                <div class="formulario">

                    <div class="iconos">
                        <a class="links" href="#">
                            <img class="calendario" src="{% static 'clientesource/img/calendario1.svg' %}" alt="">
                            <span>Programar mantenimiento</span>
                        </a>
                        <a class="links" href="#">
                            <img class="calendario" src="{% static 'clientesource/img/calendario2.svg' %}" alt="">
                            <span>Programar mantenimiento</span>
                        </a>
                        
                    </div>

                    <div class="agenda">
                        
                    </div>
                    
                </div>

                


            </div>

            <div class="col-3  columna">
                <div class="menu">

                    <ul>
                        <li>
                            <a class="opcion" href="{% url 'cliente:inicio'%}">Inicio</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:notificaciones'%}">Notificaciones</a>
                        </li>
                        <li>
                            <a class="opcion" href="@{/moduloCliente/mantenimiento}">Mantenimientos</a>
                        </li>
                        <li>
                            <a class="opcion" href="@{/moduloCliente/modificaciones}">Modificaciones</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:soat'%}">SOAT</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:cuenta'%}">Cuenta</a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>

    </main>

    


    
</body>
</html>