{%load static%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificaciones</title>
    <link rel="stylesheet" href="{% static 'clientesource/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'clientesource/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'clientesource/img/logo-msn.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'clientesource/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'clientesource/css/notificaciones.css' %}">

</head>
<body>

    <header>

        <div class="logo">
            <a class="link" href="">
                <img src="{% static 'clientesource/img/logo-msn.svg' %}" alt="imagen logo">
                <h1>Motors Safety Net</h1>
            </a>

        </div>

        <nav class="barraNav">
            <ul>
                <li>
                    <a class="count" href="{% url 'cliente:cuenta'%}">
                        <img src="{% static 'clientesource/img/cuentaLog.svg' %}" title="Cuenta" alt="Cuenta">
                        <h3 text="">
                            {{user.nombre_usuario|capfirst}}
                        </h3>
                    </a>
                </li>

                <li>
                    <a class="count" href="{% url 'inicio:logout'%}">
                        <img src="{% static 'clientesource/img/salir.svg' %}" alt="Salir de la Cuenta" title="Salir">
                    </a>
                </li>
            </ul>


        </nav>
    </header>

    <main class="container-fluid">

        <div class="row">
            <div class="col-9 ">

                <div class=" notificacion">
                    <h4>Historial de procesos realizados a los Vehículos</h4>
                    <table id="Table" class="table">
                        <thead>
                            <tr>
                                <th>Tipo de Procedimiento</th>
                                <th>Vehículo</th>
                                <th>Mecánico</th>
                                <th>Notas</th>
                            </tr>
                        </thead>
                        <tbody id="notificationTableBody">
                            {% for procedimiento in procedimientos %}
                            <tr>
                                <td>{{ procedimiento.tipo }}</td>
                                <td>{{ procedimiento.vehiculo }}</td>
                                <td>{{ procedimiento.mecanico }}</td>
                                <td>{{ procedimiento.notas }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>


            </div>

            <div class="col-3  columna">
                <div class="menu">

                    <ul>
                        <li>
                            <a class="opcion" href="{% url 'cliente:inicio'%}">Inicio</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:notificaciones'%}">Notificaciones</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:mantenimiento'%}">Mantenimientos</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:procedimientos'%}">Modificaciones</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:soat'%}">SOAT</a>
                        </li>
                        <li>
                            <a class="opcion" href="{% url 'cliente:cuenta'%}">Cuenta</a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>

    </main>
    
</body>
</html>