{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motors Safety Net - Cambiar Contraseña</title>
    <link rel="stylesheet" href="{% static 'found/css/InsertarP.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/Colores.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{% static 'found/img/logo-msn.svg' %}" type="image/x-icon">
</head>

<body class="fuente">

    <!-- Barra de Navegación -->
    <header>
        
        <div class="logo">
            <a class="link" href="{% url 'index'%}">
                <img  src="{% static 'iniciosource/img/logo-msn.svg'%}" alt="">
                <h1>Motors Safety Net</h1>
            </a>

        </div>

        <nav class="barraNav">
            <ul>
                <li><a class="link" href="{% url 'index'%}">Inicio</a></li> 
                <li><a class="link" href="#">Acerca de Nosortos</a></li> 
                <li><a class="link" href="#">Contactanos</a></li> 
                <li><a class="link" href="#servicios">Servicios</a></li> 
            </ul> 
                
            
        </nav>
    </header>

            <!-- Contenido del Formulario de Cambio de Contraseña -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Cambiar Contraseña</h1>
                <br>
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_old_password" class="form-label">Contraseña actual</label>
                        <input type="password" name="old_password" class="form-control" id="id_old_password" required>
                        {% if form.old_password.errors %}
                            <div class="alert alert-danger">
                                {{ form.old_password.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_new_password1" class="form-label">Nueva contraseña</label>
                        <input type="password" name="new_password1" class="form-control" id="id_new_password1" required>
                        {% if form.new_password1.errors %}
                            <div class="alert alert-danger">
                                {{ form.new_password1.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_new_password2" class="form-label">Confirmar nueva contraseña</label>
                        <input type="password" name="new_password2" class="form-control" id="id_new_password2" required>
                        {% if form.new_password2.errors %}
                            <div class="alert alert-danger">
                                {{ form.new_password2.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

   

    <!-- Scripts -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        function toggleSubMenu() {
            const submenu = document.querySelector('.submenu');
            submenu.classList.toggle('show');
        }
    </script>
    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</body>

</html>