{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'found/css/MantenimientoP.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/Colores.css' %}">
    <link rel="shortcut icon" href="{% static 'found/img/logo-msn.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <title>Motors Safety Net</title>
</head>

<body class="fuente">

      <!--  Barra de Navegación  -->
      <header class="barrasup">
        <div class="logo">
            <a class="link" href="{% url 'inicio:index' %}">
                <img src="{% static 'found/img/logo-msn.svg' %}" alt="imagen logo">
            </a>
            <h1>Motors Safety Net</h1>
        </div>
  
        <div class="d-flex flex-column justify-content-between" style="margin-right: 5%;">
            <a class="usuario text-white text-decoration-none d-flex align-items-center" href="{% url 'administrador:inicio' %}">
                <i class="lni lni-user"></i>
                <span>{{ user.nombre_usuario }}</span>
            </a>
  
            <a class="correo text-white text-decoration-none d-flex align-items-center">
                <small>{{ user.correo_electronico }}</small>
            </a>
            <br>
            <a class="salida text-white text-decoration-none d-flex align-items-center" role="button" href="{% url 'inicio:logout' %}">
                <i class="lni lni-exit"></i>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </header>


    <!-- Contenido de la página -->
    <div class="col">
        <div class="row">
            <!-- Columna del menú -->
            <div class="col-lg-3 bg-light-subtle">
                <ul class="nav flex-column col color1">
                    <div class="espaciobarranav">
                        <div class="espaciobarranav cambiocolor" onclick="toggleSubMenu()">
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <h3><a class="nav-link text-light text-center">Mecanicos <i class="lni lni-chevron-right-circle"></i></a></h3>
                            </li>
                        </div>
                        <ul class="submenu">
                            <div class="cambiocolor">
                                <li><a class="nav-link text-light text-center" href="{% url 'administrador:insertarMecanico' %}" style="margin-top: 10%;">Registrar Mecánico</a></li>
                            </div>
                            <div class="cambiocolor">
                                <li><a class="nav-link text-light text-center" href="{% url 'administrador:mecanicos' %}" style="margin-top: 10%;">Mecánicos Registrados</a></li>
                            </div>
                        </ul>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center" aria-current="page"
                                href="{% url 'administrador:mantenimientos' %}">Mantenimientos programados <i
                                        class="lni lni-agenda"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                href="{% url 'administrador:historialesVehiculo' %}">Historial del vehículo<i
                                        class="lni lni-delivery"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                href="{% url 'administrador:talleresMecanico' %}">Talleres Mecánico<i
                                        class="lni lni-cogs"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                href="{% url 'administrador:peritajes' %}">Peritaje<i class="lni lni-cogs"></i></a></h3>
                        </li>
                    </div>
                </ul>
            </div>


             <!-- Contenido Principal -->
             <div class="col-8">
                <div class="row mt-3">
                    <h1 class="espacio2 col colortext text-center">Mantenimientos Programados</h1>
                    <div style="display: flex; justify-content: flex-start; margin-bottom: 5%;">
                        <i class="lni lni-cog"
                            style="font-size: 32px; margin-left: 30%; color: black;"></i></a>Modificar Mantenimiento
                        <i class="lni lni-circle-minus"
                            style="font-size: 32px; margin-left: 5%;  color: black;"></i></a>Eliminar Mantenimiento
                    </div>
                </div>

                <!-- Tabla de Datos -->
                <div class="tabla table-responsive">
                    <table id="MantenimientoP" class="table table-bordered display nowrap" width="100%" height="100%">
                        <thead>
                            <tr>
                                <th>Tipo de Mantenimiento</th>
                                <th>Descripción</th>
                                <th>Costo</th>
                                <th>Notas Adicionales</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mantenimiento in mantenimientos %}
                            <tr>
                                <td>{{ mantenimiento.tipo_mantenimiento }}</td>
                                <td>{{ mantenimiento.descripcion }}</td>
                                <td>{{ mantenimiento.costo }}</td>
                                <td>{{ mantenimiento.notas_adicionales }}</td>
                                <td>
                                    <a href="{% url 'administrador:modificarMantenimiento' mantenimiento.id_mantenimiento %}">
                                        <i class="lni lni-cog" style="font-size: 32px; color: black;"></i>
                                    </a>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#confirmarEliminacion{{ mantenimiento.id_mantenimiento }}">
                                        <i class="lni lni-circle-minus" style="font-size: 32px; color: black;"></i>
                                    </a>
                                </td>
                            </tr>

                            <!-- Modal de Confirmación de Eliminación -->
                            <div class="modal fade" id="confirmarEliminacion{{ mantenimiento.id_mantenimiento }}" tabindex="-1" aria-labelledby="confirmarEliminacionLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmarEliminacionLabel">Confirmar Eliminación</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Estás seguro de que deseas eliminar el mantenimiento <strong>{{ mantenimiento.tipo_mantenimiento }}</strong>?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <form method="post" action="{% url 'administrador:eliminar_mantenimiento' mantenimiento.id_mantenimiento %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    
    {% load static %}  <!-- Cargar la etiqueta static -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    
    <script>
        $(document).ready(function () {
            // Cuando el formulario de eliminación es enviado
            $('form.eliminar-form').submit(function (event) {
                event.preventDefault(); // Previene el envío tradicional del formulario

                var form = $(this);
                var url = form.attr('action'); // Obtiene la URL del formulario

                // Confirmación de eliminación
                if (confirm("¿Estás seguro de que quieres eliminar este Mantenimiento?")) {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: form.serialize(), // Serializa los datos del formulario
                        success: function (response) {
                            // Actualizar solo la tabla con el contenido retornado
                            $('div#tablaMantenimientos').html($(response).find('#tablaMantenimientos').html());
                        },
                        error: function (xhr, status, error) {
                            alert("Ocurrió un error al eliminar el mantenimiento.");
                        }
                    });
                }
            });
        });
    </script>
    <script>
        // Inicializar DataTables
        new DataTable('#MantenimientoP');

        // Mostrar u ocultar submenús
        function toggleSubMenu() {
            const submenu = document.querySelector('.submenu');
            submenu.classList.toggle('show');
        }
    </script>
</body>

</html>