{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'found/css/ModificarP.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/MantenimientoP.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/Colores.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/botones.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/Mensajes.css' %}">
    <link rel="shortcut icon" href="{% static 'found/img/logo-msn.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <title>Motors Safety Net</title>
</head>

<body class="fuente">

    <!--  Barra de Navegación  -->
    <header class="barrasup">
        <div class="logo">
            <a class="link" href="{% url 'inicio:index' %}">
                <img src="{% static 'found/img/logo-msn.svg' %}" alt="imagen logo">
            </a>
            <h1>Motors Safety Net</h1>
        </div>

        <div class="d-flex flex-column justify-content-between" style="margin-right: 5%;">
            <a class="usuario text-white text-decoration-none d-flex align-items-center"
                href="{% url 'administrador:inicio' %}">
                <i class="lni lni-user"></i>
                <span>{{ user.nombre_usuario }}</span>
            </a>

            <a class="correo text-white text-decoration-none d-flex align-items-center">
                <small>{{ user.correo_electronico }}</small>
            </a>
            <br>
            <a class="salida text-white text-decoration-none d-flex align-items-center" role="button"
                href="{% url 'inicio:logout' %}">
                <i class="lni lni-exit"></i>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </header>

    <!-- Contenido de la página -->
    <div class="col">
        <div class="row">
            <!-- Columna del menú -->
            <div class="col-lg-3 bg-light-subtle">
                <ul class="nav flex-column col color1">
                    <div class="espaciobarranav">
                        <div class="espaciobarranav cambiocolor" onclick="toggleSubMenu()">
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <h3><a class="nav-link text-light text-center">Mecanicos <i
                                            class="lni lni-chevron-right-circle"></i></a></h3>
                            </li>
                        </div>
                        <ul class="submenu">
                            <div class="cambiocolor">
                                <li><a class="nav-link text-light text-center"
                                        href="{% url 'administrador:insertarMecanico' %}"
                                        style="margin-top: 10%;">Registrar Mecánico</a></li>
                            </div>
                            <div class="cambiocolor">
                                <li><a class="nav-link text-light text-center"
                                        href="{% url 'administrador:mecanicos' %}" style="margin-top: 10%;">Mecánicos
                                        Registrados</a></li>
                            </div>
                        </ul>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center" aria-current="page"
                                    href="{% url 'administrador:mantenimientos' %}">Mantenimientos programados <i
                                        class="lni lni-agenda"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                    href="{% url 'administrador:historialesVehiculo' %}">Historial del vehículo<i
                                        class="lni lni-delivery"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                    href="{% url 'administrador:talleresMecanico' %}">Talleres Mecánico<i
                                        class="lni lni-cogs"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                    href="{% url 'administrador:peritajes' %}">Peritaje<i class="lni lni-cogs"></i></a>
                            </h3>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="col-8 col">
                <div class="row mt-3">
                    <h1 class="espacio2 col colortext" style="display: flex; justify-content: center; margin-top: 5%;">
                        Mecánicos</h1>
                </div>
                <!-- Tabla de datos -->
                <div class="tabla table-responsive" style="margin-left: 5%; margin-bottom: 10%; margin-top: 5%;">
                    <table id="tablaMecanico" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Teléfono</th>
                                <th>Correo Electrónico</th>
                                <th>Nombre de Usuario</th>
                                <th>Horario de Trabajo</th>
                                <th>Experiencia Laboral</th>
                                <th>Taller Asociado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mecanico in mecanicos %}
                            <tr>
                                <td>{{ mecanico.id_usuario.nombres }}</td>
                                <td>{{ mecanico.id_usuario.apellidos }}</td>
                                <td>{{ mecanico.id_usuario.telefono }}</td>
                                <td>{{ mecanico.id_usuario.correo_electronico }}</td>
                                <td>{{ mecanico.id_usuario.nombre_usuario }}</td>
                                <td>{{ mecanico.horario_de_trabajo|time:"H:i A" }}</td>
                                <td>{{ mecanico.experiencia_laboral }}</td>
                                <td>
                                    {% if mecanico.id_taller_mecanico %}
                                    {{ mecanico.id_taller_mecanico.nombre }}
                                    {% else %}
                                    Sin taller asignado
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- Botón para modificar -->
                                    <div class="tooltip-container tooltip-edit">
                                        <a href="{% url 'administrador:modificarMecanico' mecanico.id_usuario.id_usuario %}"
                                            class="btn-action btn-edit">
                                            <i class="lni lni-cog"></i>
                                        </a>
                                        <span class="tooltip-text">Editar mécanico</span>
                                    </div>

                                    <!-- Botón para abrir el modal de eliminación -->
                                    <div class="tooltip-container tooltip-delete">
                                        <a href="#" data-bs-toggle="modal"
                                            data-bs-target="#confirmarEliminacion{{ mecanico.id_usuario.id_usuario }}"
                                            class="btn-action btn-delete">
                                            <i class="lni lni-circle-minus"></i>
                                        </a>
                                        <span class="tooltip-text">Eliminar mecánico</span>
                                    </div>
                                </td>
                            </tr>

                            <!-- Modal de Confirmación de Eliminación -->
                            <div class="modal fade" id="confirmarEliminacion{{ mecanico.id_usuario.id_usuario }}"
                                tabindex="-1" aria-labelledby="confirmarEliminacionLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmarEliminacionLabel">Confirmar Eliminación
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Estás seguro de que deseas eliminar al mecánico
                                            <strong>{{mecanico.id_usuario.nombres }}
                                                {{mecanico.id_usuario.apellidos}}</strong>?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                            <form method="post"
                                                action="{% url 'administrador:eliminar_mecanico' mecanico.id_usuario.id_usuario %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="notification-container">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
        <script>
            new DataTable('#tablaMecanico');
        </script>
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                // Cierre manual de notificaciones
                document.querySelectorAll('.close').forEach(button => {
                    button.addEventListener('click', function () {
                        this.parentElement.style.animation = 'fadeOut 0.5s forwards';
                        setTimeout(() => {
                            this.parentElement.remove();
                        }, 500);
                    });
                });

                // Cierre automático después de 5 segundos
                setTimeout(() => {
                    document.querySelectorAll('.alert').forEach(alert => {
                        alert.style.animation = 'fadeOut 0.5s forwards';
                        setTimeout(() => {
                            alert.remove();
                        }, 500);
                    });
                }, 5000);
            });

            function toggleSubMenu() {
                const submenu = document.querySelector('.submenu');
                submenu.classList.toggle('show');
            }
        </script>
</body>

</html>