{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'found/css/Modificarh.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/Colores.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/Mensajes.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'found/img/logo-msn.svg' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <title>Motors Safety Net</title>
</head>

<body class="fuente">

    <!--  Barra de Navegación  -->
    <header class="barrasup">
        <div class="logo">
            <a class="link" href="{% url 'inicio:index' %}">
                <img src="{% static 'found/img/logo-msn.svg' %}" alt="imagen logo">
            </a>
            <h1>Motors Safety Net</h1>
        </div>

        <div class="d-flex flex-column justify-content-between" style="margin-right: 5%;">
            <a class="usuario text-white text-decoration-none d-flex align-items-center"
                href="{% url 'administrador:inicio' %}">
                <i class="lni lni-user"></i>
                <span>{{ user.nombre_usuario }}</span>
            </a>

            <a class="correo text-white text-decoration-none d-flex align-items-center">
                <small>{{ user.correo_electronico }}</small>
            </a>
            <br>
            <a class="salida text-white text-decoration-none d-flex align-items-center" role="button"
                href="{% url 'inicio:logout' %}">
                <i class="lni lni-exit"></i>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </header>


    <!-- Contenido de la página -->
    <div class="col">
        <div class="row">
            <!-- Columna del menú -->
            <div class="col-lg-3 bg-light-subtle">
                <ul class="nav flex-column col color1">
                    <div class="espaciobarranav">
                        <div class="espaciobarranav cambiocolor" onclick="toggleSubMenu()">
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <h3><a class="nav-link text-light text-center">Mecanicos <i
                                            class="lni lni-chevron-right-circle"></i></a></h3>
                            </li>
                        </div>
                        <ul class="submenu">
                            <div class="cambiocolor">
                                <li><a class="nav-link text-light text-center"
                                        href="{% url 'administrador:insertarMecanico' %}"
                                        style="margin-top: 10%;">Registrar Mecánico</a></li>
                            </div>
                            <div class="cambiocolor">
                                <li><a class="nav-link text-light text-center"
                                        href="{% url 'administrador:mecanicos' %}" style="margin-top: 10%;">Mecánicos
                                        Registrados</a></li>
                            </div>
                        </ul>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center" aria-current="page"
                                    href="{% url 'administrador:mantenimientos' %}">Mantenimientos programados <i
                                        class="lni lni-agenda"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                    href="{% url 'administrador:historialesVehiculo' %}">Historial del vehículo<i
                                        class="lni lni-delivery"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                    href="{% url 'administrador:talleresMecanico' %}">Talleres Mecánico<i
                                        class="lni lni-cogs"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                    href="{% url 'administrador:peritajes' %}">Peritaje<i class="lni lni-cogs"></i></a>
                            </h3>
                        </li>
                    </div>
                </ul>
            </div>


            <div class="col-8 col  ">
                <div class="row mt-3 ">
                    <div>
                        <h1 class="Insert">Modificar Peritaje</h1>
                    </div>

                    <!-- Contenido -->
                    <div class="col-12 col-md-6  mx-auto mt-4">
                        <div class="row mt-3">
                            <div class="izquierda">
                                <form class="row g-3 needs-validation"
                                    action="{% url 'administrador:modificarPeritaje' peritaje.id_peritaje %}"
                                    method="post" novalidate onsubmit="return validarFormularioPeritaje()">
                                    {% csrf_token %}

                                    <!-- Campo: Descripción -->
                                    <div class="col-md-8 position-relative">
                                        <label for="descripcion" class="form-label">Descripción</label>
                                        <textarea class="form-control" name="descripcion" id="descripcion"
                                            required>{{ peritaje.descripcion }}</textarea>
                                        <label id="errorDescripcion" class="text-danger" style="display: none;"></label>
                                        <!-- Mensaje de error -->
                                    </div>

                                    <!-- Campo: Costo -->
                                    <div class="col-md-4 position-relative">
                                        <label for="costo" class="form-label">Costo</label>
                                        <input type="text" class="form-control" name="costo" id="costo"
                                            placeholder="Se esperan costos mayores a 50000" value="{{ peritaje.costo }}"
                                            required>
                                        <label id="errorCosto" class="text-danger" style="display: none;"></label>
                                        <!-- Mensaje de error -->
                                    </div>

                                    <!-- Campo: Notas Adicionales -->
                                    <div class="col-md-8 position-relative">
                                        <label for="notas_adicionales" class="form-label">Notas Adicionales</label>
                                        <textarea class="form-control" name="notas_adicionales"
                                            id="notas_adicionales">{{ peritaje.notas_adicionales }}</textarea>
                                        <label id="errorNotasAdicionales" class="text-danger"
                                            style="display: none;"></label> <!-- Mensaje de error -->
                                    </div>

                                    <!-- Botones -->
                                    <div class="row mt-3">
                                        <div class="col-6 d-flex justify-content-end">
                                            <button class="btn w-100" type="submit"
                                                style="background-color: #128C7E; border-color: #128C7E; color: white;">
                                                Modificar
                                            </button>
                                        </div>

                                        <div class="col-6 d-flex justify-content-start">
                                            <a href="{% url 'administrador:peritajes' %}"
                                                class="btn btn-secondary w-100">Volver</a>
                                        </div>
                                    </div>
                                </form>
                                <div class="notification-container">
                                    {% if success_message %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert"
                                        id="success-alert">
                                        {{ success_message }}
                                        <button type="button" class="close" onclick="dismissAlert('success-alert')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endif %}

                                    {% if error_message %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                        id="error-alert">
                                        {{ error_message }}
                                        {% if error_details %}
                                        <ul>
                                            {% for detail in error_details %}
                                            <li>{{ detail }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        <button type="button" class="close" onclick="dismissAlert('error-alert')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endif %}
                                </div>
                                <br>


                                {% load static %} <!-- Cargar la etiqueta static -->
                                <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

                                <script>

                                    function dismissAlert(alertId) {
                                        const alert = document.getElementById(alertId);
                                        if (alert) {
                                            alert.style.animation = 'fadeOut 0.5s forwards';
                                            setTimeout(() => alert.remove(), 500);
                                        }
                                    }

                                    // Cierre automático después de 5 segundos
                                    document.addEventListener('DOMContentLoaded', function () {
                                        const successAlert = document.getElementById('success-alert');
                                        const errorAlert = document.getElementById('error-alert');

                                        if (successAlert) {
                                            setTimeout(() => {
                                                successAlert.style.animation = 'fadeOut 0.5s forwards';
                                                setTimeout(() => successAlert.remove(), 500);
                                            }, 5000);
                                        }

                                        if (errorAlert) {
                                            setTimeout(() => {
                                                errorAlert.style.animation = 'fadeOut 0.5s forwards';
                                                setTimeout(() => errorAlert.remove(), 500);
                                            }, 5000);
                                        }
                                    });

                                    function toggleSubMenu() {
                                        const submenu = document.querySelector('.submenu');
                                        submenu.classList.toggle('show');
                                    }
                                    function validarFormularioPeritaje() {
                                        // Obtener los valores de los campos
                                        let descripcion = document.getElementById("descripcion").value.trim();
                                        let costo = document.getElementById("costo").value.trim();
                                        let notasAdicionales = document.getElementById("notas_adicionales").value.trim();

                                        // Obtener las etiquetas de error
                                        let errorDescripcion = document.getElementById("errorDescripcion");
                                        let errorCosto = document.getElementById("errorCosto");
                                        let errorNotasAdicionales = document.getElementById("errorNotasAdicionales");

                                        // Limpiar mensajes de error anteriores
                                        errorDescripcion.style.display = "none";
                                        errorCosto.style.display = "none";
                                        errorNotasAdicionales.style.display = "none";

                                        // Validar Descripción
                                        if (descripcion.length < 5 || descripcion.length > 200) {
                                            errorDescripcion.innerText = "La descripción debe tener entre 5 y 200 caracteres.";
                                            errorDescripcion.style.display = "block";
                                            return false;
                                        }

                                        // Validar costo
                                        if (costo === "") {
                                            errorCosto.innerText = "El costo es obligatorio.";
                                            errorCosto.style.display = "block";
                                            return false;
                                        }

                                        if (isNaN(costo) || parseFloat(costo) < 50000) {
                                            errorCosto.innerText = "El costo debe ser un número mayor o igual a 50,000.";
                                            errorCosto.style.display = "block";
                                            return false;
                                        }

                                        // Validar Notas Adicionales (opcional, pero si se ingresa, debe cumplir con la longitud)
                                        if (notasAdicionales !== "" && (notasAdicionales.length < 5 || notasAdicionales.length > 200)) {
                                            errorNotasAdicionales.innerText = "Las notas adicionales deben tener entre 5 y 200 caracteres.";
                                            errorNotasAdicionales.style.display = "block";
                                            return false;
                                        }

                                        // Si todo está correcto, enviar el formulario
                                        return true;
                                    }
                                </script>

                                </script>

</body>

</html>