{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'found/css/InsertarP.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/Colores.css' %}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <title>Motors Safety Net</title>
</head>

<body class="fuente">

      <!--  Barra de Navegación  -->
      <header class="barrasup">
        <div class="logo">
            <a class="link" href="{% url 'index' %}">
                <img src="{% static 'found/img/logo-msn.svg' %}" alt="imagen logo">
            </a>
            <h1>Motors Safety Net</h1>
        </div>
  
        <div class="d-flex flex-column justify-content-between" style="margin-right: 5%;">
            <a class="usuario text-white text-decoration-none d-flex align-items-center" href="{% url 'administrador:inicio' %}">
                <i class="lni lni-user"></i>
                <span>{{ user.nombre_usuario }}</span>
            </a>
  
            <a class="correo text-white text-decoration-none d-flex align-items-center">
                <small>{{ user.correo_electronico }}</small>
            </a>
            <br>
            <a class="salida text-white text-decoration-none d-flex align-items-center" role="button" href="">
                <i class="lni lni-exit"></i>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </header>

    <!-- Contenido de la página -->
    <div class="col">
        <div class="row">
            <!-- Columna del menú -->
            <div class="col-lg-3 bg-light-subtle">
                <ul class="nav flex-column col color1">
                    <div class="espaciobarranav">
                        <div class="espaciobarranav cambiocolor" onclick="toggleSubMenu()">
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <h3><a class="nav-link text-light text-center">Mecanicos <i class="lni lni-chevron-right-circle"></i></a></h3>
                            </li>
                        </div>
                        <ul class="submenu">
                            <div class="cambiocolor">
                                <li><a class="nav-link text-light text-center" href="{% url 'administrador:insertarMecanico' %}" style="margin-top: 10%;">Registrar Mecánico</a></li>
                            </div>
                            <div class="cambiocolor">
                                <li><a class="nav-link text-light text-center" href="{% url 'administrador:mecanicos' %}" style="margin-top: 10%;">Mecánicos Registrados</a></li>
                            </div>
                        </ul>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center" aria-current="page"
                                href="{% url 'administrador:mantenimientos' %}">Mantenimientos programados <i
                                        class="lni lni-agenda"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                href="{% url 'administrador:historialesVehiculo' %}">Historial del vehículo<i
                                        class="lni lni-delivery"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                href="{% url 'administrador:talleresMecanico' %}">Talleres Mecánico<i
                                        class="lni lni-cogs"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                href="{% url 'administrador:peritajes' %}">Peritaje<i class="lni lni-cogs"></i></a></h3>
                        </li>
                    </div>
                </ul>
            </div>

            <!-- Contenido principal -->
            <div class="col-8 col">
                <div class="row mt-3">
                    <div>
                        <h1 class="Insert">Modificar Mecánico</h1>
                    </div>

                    <!-- Formulario -->
                    <div class="izquierda">
                        <form method="post" class="row g-3 needs-validation" novalidate>
                            {% csrf_token %}
                            
                            <!-- Campo: Nombres -->
                            <div class="col-md-4 position-relative">
                                <label for="id_nombres" class="form-label">Nombres</label>
                                <input type="text" name="nombres" class="form-control" id="id_nombres" value="{{ form.instance.nombres }}" required  maxlength="30">
                            </div>
                        
                            <!-- Campo: Apellidos -->
                            <div class="col-md-4 position-relative">
                                <label for="id_apellidos" class="form-label">Apellidos</label>
                                <input type="text" name="apellidos" class="form-control" id="id_apellidos" value="{{ form.instance.apellidos }}" required  maxlength="30">
                            </div>
                        
                            <!-- Campo: Teléfono -->
                            <div class="col-md-4 position-relative">
                                <label for="id_telefono" class="form-label">Teléfono</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="validationTooltipUsernamePrepend">+57</span>
                                    <input type="number" name="telefono" class="form-control" id="id_telefono" value="{{ form.instance.telefono }}" required>
                                </div>
                            </div>
                        
                            <!-- Campo: Correo Electrónico -->
                            <div class="col-md-4 position-relative">
                                <label for="id_correo_electronico" class="form-label">Correo Electrónico</label>
                                <input type="email" name="correo_electronico" class="form-control" id="id_correo_electronico" value="{{ form.instance.correo_electronico }}" required  maxlength="30">
                            </div>
                        
                            <!-- Campo: Nombre de Usuario -->
                            <div class="col-md-4 position-relative">
                                <label for="id_nombre_usuario" class="form-label">Nombre de Usuario</label>
                                <input type="text" name="nombre_usuario" class="form-control" id="id_nombre_usuario" value="{{ form.instance.nombre_usuario }}" required  maxlength="20">
                            </div>
                        
                            <!-- Campo: Horario de Trabajo -->
                            <div class="col-md-4 position-relative">
                                <label for="id_horario_de_trabajo" class="form-label">Horario de Trabajo</label>
                                <input type="time" name="horario_de_trabajo" class="form-control" id="id_horario_de_trabajo" value="{{ form.horario_de_trabajo.value|default_if_none:'' }}" required  maxlength="20">
                            </div>
                        
                            <!-- Campo: Experiencia Laboral -->
                            <div class="col-md-4 position-relative">
                                <label for="id_experiencia_laboral" class="form-label">Experiencia Laboral</label>
                                <textarea name="experiencia_laboral" class="form-control" id="id_experiencia_laboral" required>{{ form.experiencia_laboral.value|default_if_none:'' }}</textarea  maxlength="50">
                            </div>
                        
                                   <!-- Botones -->
                                   <div class="row mt-3">
                                    <div class="col-6 d-flex justify-content-end">
                                        <button class="btn w-100" type="submit"
                                            style="background-color: #128C7E; border-color: #128C7E; color: white;">
                                            Modificar
                                        </button>
                                    </div>
    
                                    <div class="col-6 d-flex justify-content-start">
                                        <a href="{% url 'administrador:mecanicos' %}"
                                            class="btn btn-secondary w-100">Volver</a>
                                    </div>
                                </div>
                        
                            <!-- Campo Oculto: rol_usuario -->
                            <input type="hidden" name="rol_usuario" value="Mecánico">
                        
                            <!-- Campos Ocultos: contraseñas -->
                            <input type="hidden" name="password1" value="{{ form.instance.password }}">
                            <input type="hidden" name="password2" value="{{ form.instance.password }}">
                        </form>    
                    </div>
                </div>

                <br>
                  <!-- Mostrar mensajes de Django -->
                  {% if messages %}
                  <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
              {% endif %}

            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        function toggleSubMenu() {
            const submenu = document.querySelector('.submenu');
            submenu.classList.toggle('show');
        }
    </script>
</body>

</html>