{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'found/css/InsertarP.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'found/css/Colores.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <title>Motors Safety Net</title>
</head>

<body class="fuente">

    <!--  Barra de Navegación  -->
    <header class="barrasup">
        <div class="logo">
            <a class="link" href="{% url 'index' %}">
                <img src="{% static 'found/img/logo-msn.svg' %}" alt="imagen logo">
            </a>
            <h1>Motors Safety Net</h1>
        </div>
  
        <div class="d-flex flex-column justify-content-between" style="margin-right: 5%;">
            <a class="usuario text-white text-decoration-none d-flex align-items-center" href="{% url 'administrador:inicio' %}">
                <i class="lni lni-user"></i>
                <!--<span>{{ request.user.nombres }}</span>-->
            </a>
  
            <a class="correo text-white text-decoration-none d-flex align-items-center">
                <!-- <small>{{ request.user.correo }}</small>-->
            </a>
            <a class="salida text-white text-decoration-none d-flex align-items-center" role="button" href="">
                <i class="lni lni-exit"></i>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </header>


    <!-- Contenido de la página -->
    <div class="col">
        <div class="row">
            <!-- Columna del menú -->
            <div class="col-lg-3 bg-light-subtle">
                <ul class="nav flex-column col color1">
                    <div class="espaciobarranav">
                        <div class="espaciobarranav cambiocolor" onclick="toggleSubMenu()">
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <h3><a class="nav-link text-light text-center">Mecanicos <i class="lni lni-chevron-right-circle"></i></a></h3>
                            </li>
                        </div>
                        <ul class="submenu">
                            <div class="cambiocolor">
                                <li><a class="nav-link text-light text-center" href="{% url 'administrador:insertarMecanico' %}" style="margin-top: 10%;">Registrar Mecánico</a></li>
                            </div>
                            <div class="cambiocolor">
                                <li><a class="nav-link text-light text-center" href="{% url 'administrador:mecanicos' %}" style="margin-top: 10%;">Mecánicos Registrados</a></li>
                            </div>
                        </ul>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center" aria-current="page"
                                href="{% url 'administrador:mantenimientos' %}">Mantenimientos programados <i
                                        class="lni lni-agenda"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                href="{% url 'administrador:historialesVehiculo' %}">Historial del vehículo<i
                                        class="lni lni-delivery"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                href="{% url 'administrador:talleresMecanico' %}">Talleres Mecánico<i
                                        class="lni lni-cogs"></i></a></h3>
                        </li>
                    </div>
                    <div class="espaciobarranav cambiocolor">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <h3><a class="nav-link text-light text-center"
                                href="{% url 'administrador:peritajes' %}">Peritaje<i class="lni lni-cogs"></i></a></h3>
                        </li>
                    </div>
                </ul>
            </div>


            <div class="col-8 col  ">
                <div class="row mt-3 ">
                    <div>
                        <h1 class="Insert">Modificar Mecanico</h1>
                    </div>

                    <!-- Contenido -->


                    <div class="izquierda">
                        <form class="row g-3 needs-validation" action="/guardarMecanico" method="post" novalidate>
                            <input type="hidden" name="idUsuario" th:value="${mecanico.usuario.idUsuario}" />
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip02" class="form-label">Nombres</label>
                                <input type="text" th:value="${mecanico.usuario.nombres}" name="nombres"
                                    class="form-control" id="validationTooltip02" required>
                            </div>
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip01" class="form-label">Apellidos</label>
                                <input type="text" th:value="${mecanico.usuario.apellidos}" name="apellidos"
                                    class="form-control" id="validationTooltip01" required>
                            </div>
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltipUsername" class="form-label">Teléfono</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="validationTooltipUsernamePrepend">+57</span>
                                    <input type="number" th:value="${mecanico.usuario.telefono}" name="telefono"
                                        class="form-control" id="validationTooltipUsername"
                                        aria-describedby="validationTooltipUsernamePrepend" required>
                                </div>
                            </div>
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip01" class="form-label">Correo electrónico</label>
                                <input type="text" th:value="${mecanico.usuario.correo}" name="correo"
                                    class="form-control" id="validationTooltip01" required>
                            </div>
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip01" class="form-label">Nombre de usuario</label>
                                <input type="text" th:value="${mecanico.usuario.nombreUsuario}" name="nombreUsuario"
                                    class="form-control" id="validationTooltip01" required>
                            </div>
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip01" class="form-label">Contraseña</label>
                                <input type="text" th:value="${mecanico.usuario.contrasenna}" name="contrasenna"
                                    class="form-control" id="validationTooltip01" required>
                            </div>
                            <div class="col-md-4 position-relative">
                                <label for="validationTooltip01" class="form-label">Rol Usuario</label>
                                <input type="text" th:value="${mecanico.usuario.rolUsuario}" name="rolUsuario"
                                    class="form-control" id="validationTooltip01" readonly value="Mecanico" required>
                            </div>
                            <div class="col-md-4 position-relative">
                                <label for="horario" class="form-label">Horario de trabajo</label>
                                <input type="time" th:value="${horario}" name="horario" class="form-control"
                                    id="horario" required>
                            </div>
                            <div class="col-md-4 position-relative">
                                <label for="experiencia" class="form-label">Experiencia</label>
                                <input type="text" th:value="${mecanico.experiencia}" name="experiencia"
                                    class="form-control" id="experiencia" required>
                            </div>

                            <div class="col-12 text-center">
                                <input type="submit" value="Guardar Cambios"
                                    class="btn btn-primary rounded-pill px-4 text-white"
                                    style="color: white; padding-top: 0.4rem; padding-bottom: 0.4rem; padding-left: 2rem; padding-right: 2rem; font-size: 1rem; line-height: 1.6; margin-right: 5%;">
                                <a th:href="@{'/moduloAdmin/mecanicos'}"
                                    class="btn btn-primary rounded-pill px-4 text-white text-center"
                                    style="color: white; padding-top: 0.4rem; padding-bottom: 0.4rem; padding-left: 2rem; padding-right: 2rem; font-size: 1rem; line-height: 1.6;">Cancelar</a>
                            </div>
                    </div>
                </div>
                <!-- Mostrar mensaje de éxito -->
                <div th:if="${mensajeExito}" class="alert alert-success">
                    <span th:text="${mensajeExito}"></span>
                </div>

                <!-- Mostrar mensaje de error -->
                <div th:if="${mensajeError}" class="alert alert-danger">
                    <span th:text="${mensajeError}"></span>
                </div>

                </form>
            </div>
        </div>


        {% load static %}  <!-- Cargar la etiqueta static -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

        <script>
            function toggleSubMenu() {
                const submenu = document.querySelector('.submenu');
                submenu.classList.toggle('show');
            }
        </script>

        <script>(() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()</script>

</body>

</html>