{% load static %}
<!DOCTYPE html>
<html lang="en">
<head fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="shortcut icon" href="{% static 'img/logo-msn.svg'%}" type="image/x-icon">
    <title>Motors Safety Net</title>
    <link rel="stylesheet" href="{% static 'iniciosource/css/style.css' %}">
</head>
<body>
     <!-- Cabecera -->
     <header>
        
        <div class="logo">
            <a class="link" href="{% url 'index'%}">
                <img  src="{% static 'iniciosource/img/logo-msn.svg'%}" alt="">
                <h1>Motors Safety Net</h1>
            </a>

        </div>

        <nav class="barraNav">
            <ul>
                <li><a class="link" href="{% url 'index'%}">Inicio</a></li> 
                <li><a class="link" href="#">Acerca de Nosortos</a></li> 
                <li><a class="link" href="#">Contactanos</a></li> 
                <li><a class="link" href="#servicios">Servicios</a></li> 
            </ul> 
                
            
        </nav>
    </header>

    <section id="servicios" class="section">

        <!-- Cuadro de texto -->
        <div class="cuadrotxt">
            <h1>Bienvenidos</h1>
            <p>
                ¡Bienvenidos a la plataforma de gestión de mantenimiento vehicular! En este espacio, nos comprometemos a simplificar el cuidado de tus vehículos, ofreciéndote una herramienta intuitiva y eficiente para programar y realizar seguimiento de todos los mantenimientos necesarios.
            </p>
        
        </div>
        
        <div class="botones">
         <a href="{% url 'login_view'%}" class="">Iniciar Sesión</a>   
         <a href="{% url 'register'%}" class="">Registrarse</a>  
        </div>
    </section>


    <div class="servicios">
        <section class="servicio">
            <h3>Seguridad</h3>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-checkered" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#128C7E" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" />
                    <path d="M12 3v18" />
                    <path d="M3.5 12h17" />
                  </svg>  
            </div>

            <p>¡Protegiendo lo que más valoras! Descubre cómo nuestra seguridad de vanguardia te brinda tranquilidad y confianza en cada clic.</p>
        </section>
        <section class="servicio">
            <h3>Notificaciones</h3>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell-ringing" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#128C7E" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
                    <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                    <path d="M21 6.727a11.05 11.05 0 0 0 -2.794 -3.727" />
                    <path d="M3 6.727a11.05 11.05 0 0 1 2.792 -3.727" />
                  </svg> 
            </div>

            <p>¡Mantén tu vehículo en perfecto estado! Recibe notificaciones al instante sobre mantenimientos, peritajes y mucho más, para asegurarte de que tu vehículo esté siempre listo para la carretera.</p>
        </section>
        <section class="servicio">
            <h3>Mantenimiento</h3>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tool" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#128C7E" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 10h3v-3l-3.5 -3.5a6 6 0 0 1 8 8l6 6a2 2 0 0 1 -3 3l-6 -6a6 6 0 0 1 -8 -8l3.5 3.5" />
                  </svg>
            </div>

            <p>¡Mantén tu inversión protegida! Recibe notificaciones oportunas sobre mantenimientos programados, para garantizar que tu vehículo funcione de manera óptima y segura en todo momento.</p>
        </section>
    </div>


    <footer id="contactanos">
        <div>

            <div class="linea1  mm">Diseño Elaborado Por</div>
            <div class="linea2  mm">Juan Gonzalez</div>
            <div class="linea3  mm">Daniel Hernandez</div>
            <div class="linea4  mm">Juan Prada</div>
            <div class="linea5  mm">Análisis y Desarrollo de Software</div>
            <div class="linea6  mm">Ficha: 2770803</div>

            <!-- Logo de WhatsApp -->
            <img class="imgW " src="{% static 'iniciosource/img/whatsapp_4494470.png'%}" alt=" Ícono WhatsApp" width="45" height="45"
                title="WhatsApp">
            <!-- Logo de Instagram -->
                <img class="imgI" src="{% static 'iniciosource/img/instagram_4494468.png'%}" alt="Ícono Instagram" width="45" height="45"
                title="Instagram">
            <!-- Logo de Facebook -->
                <img class="imgF " src="{% static 'iniciosource/img/facebook_4494464.png'%}" alt="Ícono Facebook" width="45" height="45"
                title="Facebook">
        </div>
    
    </footer>
</body>
</html>