{% load static%}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="shortcut icon" href="{% static 'iniciosource/img/logo-msn.svg''%}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'iniciosource/css/styleLogin.css' %}">
  <link rel="stylesheet" href="{% static 'iniciosource/css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
</head>

<body>

  <header>

    <div class="logo">
      <a class="link" href="{% url 'inicio:index'%}">
        <img src="{% static 'iniciosource/img/logo-msn.svg'%}" alt="">
        <h1>Motors Safety Net</h1>
      </a>

    </div>

    <nav class="barraNav">
        <ul>
            <li><a class="link" href="{% url 'inicio:index'%}">Inicio</a></li>  
        </ul> 


    </nav>
  </header>






  <div class="container">
    <h2>Iniciar Sesión</h2>

    <div class="icons">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="#128C7E" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M20.945 11a9 9 0 1 1 -3.284 -5.997l-2.655 2.392a5.5 5.5 0 1 0 2.119 6.605h-4.125v-3h7.945z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="#128C7E" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="#128C7E" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-apple" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="#128C7E" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M8.286 7.008c-3.216 0 -4.286 3.23 -4.286 5.92c0 3.229 2.143 8.072 4.286 8.072c1.165 -.05 1.799 -.538 3.214 -.538c1.406 0 1.607 .538 3.214 .538s4.286 -3.229 4.286 -5.381c-.03 -.011 -2.649 -.434 -2.679 -3.23c-.02 -2.335 2.589 -3.179 2.679 -3.228c-1.096 -1.606 -3.162 -2.113 -3.75 -2.153c-1.535 -.12 -3.032 1.077 -3.75 1.077c-.729 0 -2.036 -1.077 -3.214 -1.077z" />
        <path d="M12 4a2 2 0 0 0 2 -2a2 2 0 0 0 -2 2" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="#128C7E" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
        <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
      </svg>
    </div>
    <form action="{% url 'inicio:login_view'%}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="username" name="username" placeholder="Ingresa tu correo" required>
        {% if form.correo_electronico.errors %}
            <div class="alert-danger">
              <span class="">{{ form.correo_electronico.errors.0 }}</span>
            </div>
              
        {% endif %}
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>
        {% if form.password.errors %}
            <div class="alert-danger">
              <span class="">{{ form.password.errors.0 }}</span>
            </div>
              
        {% endif %}
      </div>

      {% if form.non_field_errors %}
      <div class="alert-danger">
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}

      
      <input type="submit" value="Iniciar Sesion" name="btnLoginCliente" class="enviar">
      <a href="#">Olvide la contraseña</a>
    </form>
  </div>
  <!-- Validacion  de formulario -->



  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js"></script>
  



</body>

</html>