.e5000{
    font-size: 60px;
    color: #ff5555;
   margin-top: 20%;
   margin-left: 40%;
}
.e500{
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
    margin-top: 20%;
   margin-left: 29%;
}
.errorPage1{
    background-color: rgb(61, 61, 61);
}