.e4040{
    font-size: 60px;
    color: #ff5555;
   margin-top: 20%;
   margin-left: 40%;
}
.e404{
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
    margin-top: 20%;
   margin-left: 29%;
}
.errorPage{
    background-color: rgb(61, 61, 61);
}