.contenido {
    margin-top: 30px;
    padding: 20px;
    background-color: #9d9d9d;
    box-shadow: 6px 6px 25px 3px rgba(0,0,0,0.75);
    width: 97%;
    margin-left: 11px;
    height: 50vh;
    border-radius: 20px;
}
.contenido {
    display: flex;
}

.icono-nom {
    background-color: white;
    border-radius: 20px;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icono-nom img {
    width: 100%;  
    margin-top: 30px;
}


.icono-nom h4 {
    margin-top: 30px;
}

.informacion-vehi {
    width: 75%;
    margin-left: 50px;
    
}

.informacion-vehi table {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    
}

.informacion-vehi table th {
    padding-left: 20px;
    font-size: 25px;
    width: 20%;
    text-align: center;
}

.informacion-vehi table td {
    width: 20%;
    text-align: center;
    font-size: 20px;
}


.editar,
.borrar {
    padding: 10px;
    border: none;
    background-color: #ccc;
    transition: all .3s;
    border-radius: 10px;
    display: block;
    width: 180px;
    margin-left: 30%;
}

.editar:hover {
    background-color: #3fb19d;
}
.borrar:hover {
    background-color: #dc3545;
}



@media only screen and (max-width: 768px) {
    header {
        height: 200px;
    }

    .row {
        flex-direction: column-reverse;
    }

    .menu {
        height: 80vh;
    }

    .icono-nom h4 {
        text-align: center;
    }

    .icono-nom img {
        margin-top: 50%;
    }

    .col-9 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }
}
@media only screen and (max-width: 700px) {
    .contenido {
        flex-direction: column;
    }

    .icono-nom {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .icono-nom h4 {
        margin-top: 0px;
    }

    .informacion-vehi {
        width: 100%;
        margin-left: 0px;
    }

    .icono-nom img {
        width: 25%;
        margin-top: 0;
    }
}