@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding:  0;
}
a{
    text-decoration: none;
    color: white;
}

span {
    font-family: 'Oswald';
    font-style:normal;
  font-weight: 200 700;
  font-display: swap;
  
}

.titulo{
    display: flex;
    justify-content: center;

}


a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    opacity: .7;
    
}


.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
    background-color: white;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #128C7E;
}
.salida{
    
    padding: 1px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-right: 15px;
        
}
 .salida:hover{
    scale: 1.1;
} 
.salida,span{
    font-size: 18px;
    padding-left: 8px;
}
.usuario{
    font-size: 35px;
    margin-right: 15px;
}
.correo{
    opacity: .4;
    font-size: 15px;
    margin-right: 15px;

}
.usuario:hover{
    scale: 1.1;
}

.servicio .icon:hover {
    scale: 1.1;
}
.fila{
    width: 96%;
}
.TB{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: black;
    font-weight: bold;
    letter-spacing: 4.4;
    font-size: 35px;
    text-shadow: 1px 1px 2px rgb(12, 12, 12);
}

.PB{
    font-family:cursive ;
    color: black;
    font-weight: normal;
    font-size: 23px;
    margin-top: 30px;
    margin-left: 35px;
 
}

.tabla{
    margin-left: 2%;
    /* margin-top: 2%; */
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.096); */
}
.modificar{
    font-size: 35px;
    text-align: center;
    margin-bottom: 5%;
}

.form{
    margin-left: 40%;
}
.botoon{
    margin: 3% 55%;
    
}
.botones{
    margin-top: 2%;
}
.botonees{
    margin-top: 2%;
}
.menuu{
    height: 130vh;
}
