/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); 
*{
    margin: 0;
    padding: 0;
}


header {
    
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
   
}
.logo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all .3s;
   margin-left: 20px;
}

.logo .link {
    height: 120px;
    width: 120px;
    margin: 0 10px 0 10px;
}

.logo h1 {
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}


.logo:hover {
    scale: 1.1;
}

.barraNav {
    margin-right: 200px;
}

.barraNav ul {
    list-style: none;
}

.barraNav ul li {
    display: inline-block;
    margin-left: 100px;
}

.barraNav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.barraNav a{    
    transition: .1s ease all;   
}
.barraNav a:hover{
    font-size: 24px;
}

@media only screen and  (max-width: 767.98px){ 
    .encabezados{
      text-align: center; 
     
}
    .menuu{
        height: 50vh;
    }
    .barrassup{
        height: 250px;
    }
    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .barrita{
        flex-direction: column;
    }
    .barritaa{
        flex-direction: column;
    }
    .barritaaa{
        flex-direction: column;
    }
}