.color1{
     background-color: black;
     color: #117f83;
}

.color2{
     background-color: black;
     color: white;
}

.color3{
     background: #5AB1BB;
}

.color4{
     background: #A5C882;
}

.color5{
     background: #F7DD72;
}

.color6{
     background: #3c3c3c;
}

.color7{
     background: #4E6766;
}

.color8{
     background: #5AB1BB;
}

.color9{
     background: #A5C882;
}

.color10{
     background: #F7DD72;
}

.color11{
     background: #1E152A;
}

.color12{
     background: #4E6766;
}

.nav-link {
     color: #061841;
 }

 .colortext{
     color: #117f83;
 }