@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



* {
    padding: 0;
    margin: 0;
}

.espaciobarranav {
    margin-bottom: 1rem;
}
.submenu {
    display: none;
    padding-left: 20px;
}
.submenu.show {
    display: block;
}
.cambiocolor {
    cursor: pointer;
}


body {
    background-color: #ffffff;
    
}

/* Cabecera */
header {
    
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;  
}
.logo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all .3s;
   margin-left: 20px;
}

.logo .link {
    height: 100px;
    width: 100px;
    margin: 0 10px 0 10px;
}

.logo h1 {
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}


.logo:hover {
    scale: 1.1;
}

.barraNav {
    margin-right: 200px;
}

.barraNav ul {
    list-style: none;
}

.barraNav ul li {
    display: inline-block;
    margin-left: 100px;
}

.barraNav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.barraNav a{    
    transition: .1s ease all;   
}
.barraNav a:hover{
    font-size: 24px;
}

/* contenido Principal */
.section{
    font-size: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-style: italic;
    font-weight: bold;
    margin: 90px 0 90px 0;
    padding-left: 40px;
}

.cuadrotxt {
    margin-top: 20px;
    height: 500px;
    width: 500px;
    background-color: white;
    margin-left: 30px;
    padding: 20px;
    border-radius: 6%;
    box-shadow: 4px 4px 10px grey;
    margin-bottom: 20px;
}
.cuadrotxt h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.cuadrotxt p {
    font-size: 15px;
    
}

.botones {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    padding: 2%;
}


.botones a{
   background-color: #128C7E;
    font-size: 20PX;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
    color: white;
    transition: .3s all;
}

.botones a:hover {
    background-color: #075249;
}

.iniciar {
    margin-left: 120px;    
    margin-top: 2px;
    color: black;
}

.registrar {
    margin-left: 10px;
    margin-top: 2px;
    color: black;
}






/* Pie de pagina */
footer {
    position: fixed;
    bottom: 0;
    width: 100%; /* Opcional: haz que el pie de página ocupe todo el ancho */
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    padding: 15px 20px;
    color: white;
}

.imgW{
    padding: 2px;
    box-shadow: 3px 1px 10px rgb(0, 255, 255);
    border-radius: 100%;
    background-color: white;
 
}  
.imgI{
    padding: 2px;
    box-shadow: 3px 1px 10px rgb(0, 255, 255);
    border-radius: 100%;
    background-color:white;
   
    
}
.imgF{
    padding: 2px;
    box-shadow: 3px 1px 10px rgb(0, 255, 255);
    border-radius: 100%;
    background-color:white ;
   
    
}

.imgW:hover {
    background: linear-gradient(135deg, #25D366, #128C7E);
}
.imgI:hover{
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}
.imgF:hover{
    background-color: #0051ff;
}

.linea6{
    padding-bottom: 25px;
}
.linea1{
    padding-bottom: 15px;
    padding-top: 12px;
}

section{
    margin: 10px auto;
    width: 50%;
    color: black;
    text-align: center;
}

.grupo {
    position: relative; /* Para que el posicionamiento absoluto del botón funcione correctamente */
    
}

.boton-cerrar {
    position: absolute;
    top: 0;
    right: 0;
}




.opcioni {
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
}


.opcion.i {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.gestp {
    margin-top: 5%;
    margin-bottom: 10%;
    display: inline-block;
    padding: 15px 30px;
    background-color: #128C7E;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: "Oswald", sans-serif;
}


.gestp:hover {
    background-color: #0a6b59;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 1);
}

h1{
    text-align: center;
    margin-top: 3%;
}


.but{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 1%   
}

/* Configuración para que  la columna del menu ocupe todo el alto posible*/
.bg-light-subtle {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.imgad{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding: 5%;
}

.cerrar{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.parrafo1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.espacio1{
   margin-top: 20%;
}

.espacio2{
    margin-top: 5%;
    margin-bottom: 5%;
}

.espacio3{
    margin-left: 5%;
}

.izquierda{    
    margin-left: 5%;
}

.espaciobarranav{
    margin-top: 20%;
    margin-bottom: 20%;
}



.profundidad:hover{
    scale: 1.1;
}

.cambiocolor:hover {
    background-color: #117f83; /* Cambia este color al que desees */
}

.fuente{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
}




/* Estilos adicionales para hacer la página más responsiva */
        @media screen and (max-width: 768px) {
            .col-lg-3 {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .nav.flex-column.col.color1 {
                padding-left: 0;
            }

            .col-8.col {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .tabla {
                margin-left: 0;
            }

            .barraNav {
                display: flex;
                flex-direction: column;
            }

            .barraNav ul {
                margin-top: 20px;
            }
        }

        @media screen and (max-width: 576px) {
            .nav.flex-column.col.color1 {
                font-size: 14px;
            }
        }

        @media screen and (max-width: 480px) {
            .nav.flex-column.col.color1 {
                font-size: 12px;
            }
        }